.img-thumbnail {
  margin: 25px;
  height: 85%;
  width: 85%;
}

.card-body {
  padding: 0px 25px;
}

.card-footer {
  padding: 10px 15px;
  background-color: white;
  border-top: none;
}

.ngx-gallery {
  display: inline-block;
  margin-bottom: 20px;
}




