.card:hover img {
  transform: scale(1.2);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  opacity: 0.7;
}

.card img {
  transform: scale(1);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  opacity: 0.7;
}

.card-img-wrapper {
  overflow: hidden;
}


